<html>
<head>
    <title> Attendee Tickets </title>
</head>
<body>

<h3 align="center">Attendee Tickets</h3>

Although we have lots of different ticketing options, a regular attendee ticket is
still an all-access, three-day pass to everything at {{ EVENT_NAME_AND_YEAR }}.  This includes
all of the things listed below:
<ul>
    <li> console gaming </li>
    <li> tabletop gaming </li>
    <li> 3 stages of music </li>
    <li> artists / vendors </li>
    <li> arcade cabinets, all on free-play </li>
    <li> entry into tournaments </li>
    <li> panels, presentations, contests, and game shows </li>
</ul>

SJSU Student Discounts:<br/>
<b>San Jose State University students</b> receive a discounted 3-day price.  You must present a valid SJSU student ID
for each student ticket purchased.  If you don't have a valid SJSU student ID, you will need to pay full price
at the door.  This discount only applies for San Jose State University students, and does not apply to students from other schools.
<br/><br/>
You can also kick in extra to become a <a href="supporters.html">Supporter</a> and get various bits of swag as thanks.

</body>
</html>
