<!doctype html>
<html>
<head>
    <title> Supporters </title>
</head>
<body>

<h3 align="center"> Supporter Tickets </h3>

We are offering a special Supporter registration as a way for dedicated fans of
{{ EVENT_NAME }} to give us a little extra cash to help make the festival better.

<br/> <br/>

The main things you get as a Supporter are a special swag bag and a cool customized badge.

{% if SEASON_SUPPORTERS_ENABLED %}<br/> <br/>
If you're interested in an even higher level of support, then check out our
<a href="seasonPasses.html">Season Supporter Passes</a>.
{% endif %}
</body>
</html>
