<h2>Thanks for Preregistering!</h2>

Your payment has been successfully processed; simply bring a photo ID to {{ EVENT_NAME }} and you should have no trouble picking up
your ticket at our registration desk.
<br/><br/>
SJSU Student Discounts:<br/>
<b>San Jose State University students</b> receive a discounted 3-day price.  You must present a valid SJSU student ID
for each student ticket purchased.  If you don't have a valid SJSU student ID, you will need to pay full price
at the door.  This discount only applies for San Jose State University students, and does not apply to students from other schools.
<br/><br/>
The following preregistrations have been made from this computer:
<br/><br/>